[Unit]
Description=Run Runbow007 every 30 minutes, every day

[Timer]
OnCalendar=*-*-* *:05,35:00 Asia/Shanghai
Persistent=true
AccuracySec=1min
Unit=runbow007-hourly.service

[Install]
WantedBy=timers.target
